body {
font-size: 60px;
color:white;
background-color:rgb(60, 56, 62);
}
body tr {
  font-size: 60px;
}
header {
  color:white;
  background-color:black ;
}
footer{
    color:white;
  background-color:black ;
}
