body {}

body tr {}

header h2 {
  position: relative;
  padding: .75em 1em .75em 1.5em;
  border: 1px solid #ccc;
}

header h2::after {
  position: absolute;
  top: .5em;
  left: .5em;
  content: '';
  width: 6px;
  height: -webkit-calc(100% - 1em);
  height: calc(100% - 1em);
  background-color: #3498db;
  border-radius: 4px;
}

.dayinfo {
  font-size: 22px;
}

footer {
  font-size: 7px;
  position: relative;
  padding: .75em 1em .75em 1.5em;
  border: 1px solid #ccc;
}

footer .under1{
  text-decoration: underline;
}
